<div class="container">
  <h1><%= User.model_name.human %> <%= t('edit') %></h1>

  <%= form_for(@entry, url: admin_user_path(@entry)) do |f| %>
    <%= render(partial: 'form', locals: { form: f, entry: @entry }) %>
  <% end -%>
</div>
